<h2>Create A Post</h2>
<div class="container">
  <form>
    <label for="blog-title">Blog Title</label>
    <input type="text" id="blog-title" />
    <div class="form-group">
      <label for="blog-text">Blog Text</label>
      <textarea class="form-control" id="blog-text" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" id="submit-btn">Create Post</button>
  </form>
</div>
<a href="/">Back to Homepage</a>

<script src="/js/post.js"></script>