{{> navbar}}

<div class="card">
  <div class="card-header">
    Featured Article
  </div>
  <div class="card-body">
    <h2 class="card-title">{{blog.post_title}}</h2>
    <p class="card-text">{{blog.post_content}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<button class="btn btn-outline-secondary" id="comment-btn">Show Comments</button>
<div class="card">
  <div class="card-header">
  Comments
  </div>
  <div class="card-body">
    <p class="card-text">{{blog.comment.comment_text}}</p>
  </div>
</div>

<script src="/js/blogPost.js"></script>
