{{> navbar}}

<div class="container">

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 link-secondary" href="#">New Developments</a>
      <a class="p-2 link-secondary" href="#">Environment</a>
      <a class="p-2 link-secondary" href="#">Future Tech</a>
      <a class="p-2 link-secondary" href="#">A.I.</a>
    </nav>
  </div>
</div>

<main class="container">
  {{#if blogs.[0]}}
  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark" id="top-article">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">{{blogs.[0].post_title}}</h1>
      <p class="lead my-3">{{truncateWords blogs.[0].post_content}}</p>
      <p class="lead mb-0"><a href="/blog/{{blogs.[0].post_id}}" class="text-white fw-bold">Continue
          reading...</a></p>
    </div>
  </div>
  {{/if}}  
    
    {{> blogCard}}

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        This Month...
      </h3>

      {{> articles}}
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">"Welcome to our tech blog, where we explore the latest in technological innovations and trends. Stay up-to-date with our informative articles on software, hardware, gadgets, mobile devices, AI, and the internet of things. Join our community of tech enthusiasts and stay ahead in the digital world."</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="https://github.com/andykb9b13/tech-blog">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/andy-kleindienst-12283226b/">LinkedIn</a></li>
            <li><a href="https://www.facebook.com/andy.kleindienst.1">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="blog-footer text-center">
  
  <p>
    <a href="/">Back to top</a>
    <h6>Created by Andy Kleindienst 2023</h6>
  </p>
</footer>

