{{> navbar}}

<h2>Signup</h2>
<form>
  <div class="mb-3">
    <label for="email" class="form-label">Please Enter Your Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">Please Enter You Username</label>
    <input type="text" class="form-control" id="username" />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Please Enter A Password</label>
    <input type="password" class="form-control" id="password" />
  </div>
  <button type="submit" class="btn btn-primary" id="signup-btn">Signup</button>
  <h3>Already a user?</h3>
  <a href="/login">Login</a>
</form>

<script src="/js/signup.js"></script>